.trigger {
	padding: 0 24px;
	font-size: 18px;
	line-height: 64px;
	cursor: pointer;
	transition: color 0.3s;
  }
  
.trigger:hover {
	color: #003CFF;
  }

.light-bg {
	background-color: #fff;
}

.menu-fix span{
	margin-left: 15px;
	margin-right: 9px;
}

.profile {
	display: flex;
	margin:25px;
}

.profile-pic {
	background-image: url('../public/profilepic.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.3);
	background-position: center;
	border-radius: 20px;
	width: 50px;
	height: 50px;
	margin: 15px;
}

.loc-wrapper {
	margin-left: 15px;
	position: relative;
}

.dropdown-icon {
	position: absolute;
	padding-top: 18px;
	color: #003CFF;
	pointer-events: none;
	right: 0px;
}

.profile-info {
	margin-top: 15px;
}

.profile-info h3 {
	font-size: 15px;
	font-weight: 600;
}

.profile-info p {
	font-size: 12px;
	font-weight: 400;
	color:rgba(0, 0, 0, 0.4);
}

.ant-menu > .ant-menu-item:hover,
.ant-menu > .ant-menu-submenu:hover,
.ant-menu > .ant-menu-item-active,
.ant-menu > .ant-menu-submenu-active,
.ant-menu > .ant-menu-item-open,
.ant-menu > .ant-menu-submenu-open,
.ant-menu > .ant-menu-item-selected,
.ant-menu > .ant-menu-submenu-selected {
  color: #003CFF;
  font-weight: bold;
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: 6px solid #003CFF;
  border-radius: 4px;
}

.ant-menu > .ant-menu-item:not(.ant-menu-item-selected) {
	color:rgba(0, 0, 0, 0.4);
}

.logo {
	margin:35px;
}

.site-layout .site-layout-background {
	background: #fff;
}

.header-bg {
	background-color: #fff;
	display: flex;
}

.search-wrapper {
	position: relative;
}

.search-icon {
	position: absolute;
	padding: 24px;
	padding-left: 20px;
	margin-right: 10px;
	color: rgba(0, 0, 0, 0.6);
	pointer-events: none;
	right: 0px;
}

.search-box {
	width: 200px;
	height: 35px;
	border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.05);
	margin: 13px;
	margin-left: 50px;
	padding-left: 15px;
	padding-right: 40px;
	outline: none;
	border: none;
}

.full-screen {
	min-height: 100vh;
}